* {
  box-sizing: border-box
}

/* Slideshow container galleri - klassisk W3school eksempel */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99;
  display: none;
}

.imgSpil {
  width: 100%;
  z-index: 99999999;
  max-height: 100%;
}

#lukKnap {
  position: absolute;
  top: 0;
  right: 5vw;
  width: 100px;
  height: 100px;
  font-size: 80px;
  z-index: 9999999999;
  display: none;
  cursor: pointer;
  color: white;
}

.startKnap {
  position: absolute;
  width: 15vh;
  bottom: 10vh;
  left: 50%;
  z-index: 92;
  margin-left: -7.5vh;
}

#galleri {
  display: none;
  position: absolute;
  z-index: 99999999;
  top: 30vh;
  left: 0;
  width: 100vw;
}

.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 99999999;
  margin: 0;
  top: 0;
  left: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 2vw;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 2vh;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  top: -25vh;
}

/* ---------------------- SoMe FOLD-OUT KASSEN------------------ */
.SoMe {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 1vw;
  left: 2vw;
  cursor: pointer;
  width: 80px;
  overflow:
    hidden;
  z-index: 999999999999;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .SoMe:hover {
  transition: 1s ease-in;
  width: 100%;
  z-index: 999999999999;
}

/* Style the collapsible content. Note: hidden by default */
.links {
  display: flex;
  flex-direction: row;
  padding: 0 18px;
  overflow: hidden;
}

/* ---------------------- SoMe FOLD-OUT IKONER------------------ */
.fa {
  padding: 25px;
  font-size: 40px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

/* ---------------------- PAGE LOADER------------------ */
#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999999999;
  background: url("https://miro.medium.com/max/1600/1*5ngZiNtGMrp_xmZHxSvJ0g.gif") no-repeat center center rgba(255, 255, 255, 1)
    /* ALTERNATIV LOADER-GIF: HER ER EN HVID VERSION - MED TO TANDHJUL.
    background: url("https://www.widewalls.ch/ww-apps-lib/ww-apps-extensions/Travel/images/page_loader.gif") no-repeat center center rgba(255, 255, 255, 1) */
}

/* ----------------------Content div til hver section------------------ */
.content {
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}

/* ----------------------VIDEO------------------ */
#myVideo {
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
}

/* ----------------------BILLEDER------------------ */
.logo {
  width: 25vw;
  position: absolute;
  right: 2vw;
  top: 1vh;
  max-height: 100%;
}

.gfk1 {
  width: 23vw;
  position: absolute;
  right: -5vw;
  bottom: -1.5vh;
  z-index: 99;
}

.gfk2 {
  width: 23vw;
  position: absolute;
  left: -2vw;
  bottom: -1.5vh;
  z-index: 99;
}

.gfk3 {
  width: 45vw;
  position: absolute;
  right: -12vw;
  bottom: -2.5vh;
  z-index: 90;
}

.label {
  width: 60vw;
  position: absolute;
  left: -12vh;
  bottom: -15.5vh;
}

.gfk4 {
  width: 25vh;
  position: absolute;
  right: -5vh;
  bottom: 0vh;
  z-index: 87;
}

#mainNav {
  position: fixed;
  top: 1.5vh;
  left: 2vw;
  flex-direction: row;
  display: flex;
  width: 100vw;
  padding-top: 1vh;
  z-index: 3;
}

.pil {
  width: 7vh;
}

.pilOp {
  width: 7vh;
  transform: rotate(180deg);
}

/* ----------------------TEKST------------------ */
/* Forklarende tekst til spil galleri */
.infotxt {
  z-index: 2;
  position: absolute;
  font-size: 1.5vh;
  width: 100%;
  padding-top: 1vh;
  text-align: center;
}

.center {
  text-align: center;
}

/* Brødtekst */
p {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 1.7vh;
  font-weight: lighter;
}

/* Citat */
h3 {
  font-family: 'Dosis', sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2vh;
  padding-top: 1.5vw;
}

/* Afgiver af citat */
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  font-size: 1.2vh;
  padding-bottom: 1vw;
}

/* Links */
a {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}

/* Overskifter*/
h1 {
  position: relative;
  font-size: 4vh;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
  overflow: hidden;
  margin-top: 12vh;
  font-weight: bolder;
}

h1:before, h1:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 3px;
  content: '\a0';
  background-color: #FFFFFF;
}

h1:before {
  margin-left: -50%;
  text-align: right;
}

/* Menu-punkter */
.menu {
  margin-left: 2vw;
  color: #FFFFFF;
  font-size: 2vh;
  letter-spacing: 2px;
  opacity: 90%;
}

.menu:hover {
  opacity: 30%;
}

/* Menu-punkter */
/* ----------------------GENERELT------------------ */
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.mainWrapper {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  margin: 0;
  padding: 0;
  border-bottom: 2.5px solid #9C9E9F;
  overflow: hidden;
}

/* ----------------------SECTIONER---------------------- */
#section1 {
  position: relative;
  height: 100vh;
  background-color: #FAC177;
}

#section2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #093A82;
}

#section3 {
  position: relative;
  height: 100vh;
  background-color: #FAC177;
}

#section4 {
  position: relative;
  height: 100vh;
  background-color: #FAC177;
}

#section5 {
  position: relative;
  height: 100vh;
  background-color: #093A82;
}

@media only screen and (min-device-width: 760px) {
  p {
    font-size: 2.0vh
  }

  h1 {
    font-size: 3vh;
    margin-top: 10vh;
  }

  h3 {
    font-size: 2.5vh;
    padding-top: 1vw;
  }

  h4 {
    padding-bottom: 1vw;
    font-size: 1.5vh;
  }

  .main {
    overflow: hidden;
  }

  .infotxt {
    font-size: 2vh;
    width: 80vw;
    padding-top: 44vh;
    padding-left: 25%;
  }

  /* Næste-side knap */
  .goDown {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;
    z-index: 9999;
  }

  .content {
    height: 100vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  /* ----------------------BILLEDER------------------ */
  .logo {
    width: 25vw;
    position: absolute;
    right: 2vw;
    top: 1vh;
    max-height: 100%;
  }

  .gfk1 {
    width: 20vw;
    position: absolute;
    right: -2vw;
    bottom: -1.5vh;
  }

  .gfk2 {
    width: 20vw;
    position: absolute;
    left: -2vw;
    bottom: -1.5vh;
  }

  .gfk3 {
    width: 35vw;
    position: absolute;
    right: -5vw;
    bottom: -3.5vh;
  }

  .gfk4 {
    width: 36vh;
    position: absolute;
    right: -10vh;
    bottom: -5vh;
    z-index: 2;
  }

  .label {
    width: 40vh;
    position: absolute;
    left: -12vh;
    bottom: -15.5vh;
  }

  /* SPIL GALLERI */
  .startKnap {
    bottom: 15vh;
  }

  #galleri {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
  }

  .slideshow-container {
    width: 100vw;
    height: 90vh;
    position: relative;
    margin: 0;
  }

  /* ---------------------- SoMe FOLD-OUT KASSEN------------------ */
  .SoMe {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 1vw;
    left: 5vw;
    cursor: pointer;
    width: 80px;
    overflow:
      hidden;
    z-index: 999999999999;
  }

  .fa {
    font-size: 60px;
    width: 150px;
  }
}

@media only screen and (min-device-width: 1500px) {
  p {
    font-size: 2.5vh
  }

  h1 {
    font-size: 3vh;
    margin: 0;
    margin-bottom: 5vh;
    margin-top: 10vh;
  }

  h3 {
    font-size: 2.5vh;
    padding-top: 1vw;
  }

  h3:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }

  h4 {
    font-size: 1.5vh;
    padding-bottom: 2vw;
    padding-top: 0.4vw;
  }

  .infotxt {
    font-size: 2vh;
    width: 80vw;
    padding-top: 44vh;
    padding-left: 25%;
  }

  .main {
    overflow: hidden;
  }

  /* Næste-side knap */
  .goDown {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;
    z-index: 9999;
  }

  .content {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  /* ----------------------BILLEDER------------------ */
  .logo {
    width: 15vw;
    position: absolute;
    right: 2vw;
    top: 1vh;
    max-height: 100%;
  }

  .gfk1 {
    width: 13vw;
    position: absolute;
    right: -2vw;
    bottom: -1.5vh;
  }

  .gfk2 {
    width: 13vw;
    position: absolute;
    left: -2vw;
    bottom: -1.5vh;
  }

  .gfk3 {
    width: 15vw;
    position: absolute;
    right: -4vw;
    bottom: -2.5vh;
  }

  .gfk4 {
    width: 45vh;
    position: absolute;
    right: -20vh;
    bottom: 0vh;
    z-index: 2;
  }

  .label {
    width: 40vh;
    position: absolute;
    left: -12vh;
    bottom: -15.5vh;
  }

  .imgSpil {
    max-height: 100%;
    margin-top: 0;
  }

  #lukKnap {
    top: 88vh;
    right: -0.5vh;
  }

  .prev, .next {
    font-size: 55px;
  }

  .text {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 4vh;
  }

  /* SPIL GALLERI */
  #galleri {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
  }

  .slideshow-container {
    width: 100vw;
    height: 90vh;
    position: relative;
    margin: 0;
  }

  .startKnap {
    width: 25vh;
    bottom: 25vh;
    left: 50%;
    z-index: 92;
    margin-left: -12.5vh;
  }

  /* ---------------------- SoMe FOLD-OUT KASSEN------------------ */
  .SoMe {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 1vw;
    left: 5vw;
    cursor: pointer;
    width: 120px;
    overflow:
      hidden;
    z-index: 999999999999;
  }
}

/* VIDEO MEDIA QUERIES!! */
@media (min-aspect-ratio: 16/9) {
  #myVideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #myVideo {
    width: auto;
    height: 100%;
  }
}