.verNav {
  position: absolute;
  top: 35vh;
  right: 2vw;
  flex-direction: column;
  display: flex;
  height: 100%;
  padding-top: 1vh;
  z-index: 99999999;
}

.verNav a {
  display: block;
  margin-top: 100px;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  border: 1px solid black;
  background: #9C9E9F;
}

.verNav a:hover {
  background: #FAC177;
}

.verNav a:active {
  background: white;
}

/* ---------------------- ANIMATION KLASSE------------------ */
.block.is-visible {
  opacity: 1;
}

.block {
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  opacity: 0;
  transition:
    opacity 1s .25s ease-out;
  width: 100%
}

/* ---------------------- PAGE LOADER------------------ */
#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: url("https://miro.medium.com/max/1600/1*5ngZiNtGMrp_xmZHxSvJ0g.gif") no-repeat center center rgba(255, 255, 255, 1)
    /* ALTERNATIV LOADER-GIF: HER ER EN HVID VERSION - MED TO TANDHJUL.
    background: url("https://www.widewalls.ch/ww-apps-lib/ww-apps-extensions/Travel/images/page_loader.gif") no-repeat center center rgba(255, 255, 255, 1) */
}

/* ----------------------Content div til hver section------------------ */
.content {
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* ----------------------VIDEO------------------ */
#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 4;
}

/* ----------------------BILLEDER------------------ */
.logo {
  width: 25vw;
  position: absolute;
  right: 2vw;
  top: 1vh;
  max-height: 100%;
}

.gfk1 {
  width: 23vw;
  position: absolute;
  right: -5vw;
  bottom: -1.5vh;
  z-index: 3;
}

.gfk2 {
  width: 23vw;
  position: absolute;
  left: -2vw;
  bottom: -1.5vh;
  z-index: 3;
}

.gfk3 {
  width: 65vw;
  position: absolute;
  right: -22vw;
  bottom: -2.5vh;
  z-index: 3;
}

.label {
  width: 40vh;
  position: absolute;
  left: -12vh;
  bottom: -15.5vh;
}

.gfk4 {
  width: 45vh;
  position: absolute;
  right: -20vh;
  bottom: 0vh;
  z-index: 2;
}

#mainNav {
  position: fixed;
  top: 1.5vh;
  left: 2vw;
  flex-direction: row;
  display: flex;
  width: 100vw;
  padding-top: 1vh;
  z-index: 3;
}

.pil {
  width: 7vh;
}

.pilOp {
  width: 7vh;
  transform: rotate(180deg);
}

/* ----------------------TEKST------------------ */
/* Brødtekst */
p {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-size: 1.7vh;
  font-weight: lighter;
}

/* Citat */
h3 {
  font-family: 'Dosis', sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2vh;
  padding-top: 1vw;
}

/* Afgiver af citat */
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  font-size: 1.2vh;
  padding-bottom: 1vw;
}

/* Links */
a {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}

/* Overskifter*/
h1 {
  position: relative;
  font-size: 4vh;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
  overflow: hidden;
  margin-top: 12vh;
  font-weight: bolder;
}

h1:before, h1:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 3px;
  content: '\a0';
  background-color: #FFFFFF;
}

h1:before {
  margin-left: -50%;
  text-align: right;
}

/* Menu-punkter */
.menu {
  margin-left: 2vw;
  color: #FFFFFF;
  font-size: 2vh;
  letter-spacing: 2px;
  opacity: 90%;
}

.menu:hover {
  opacity: 30%;
}

/* Menu-punkter */
/* ----------------------GENERELT------------------ */
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.mainWrapper {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
}

.main {
  margin: 0;
  padding: 0;
  border-bottom: 2.5px solid #9C9E9F;
  overflow: hidden;
}

/* ----------------------SECTIONER---------------------- */
#section1 {
  position: relative;
  height: 100vh;
  background-color: #FAC177;
}

#section2 {
  position: relative;
  height: 100vh;
  background-color: #093A82;
}

#section3 {
  position: relative;
  height: 100vh;
  background-color: #FAC177;
}

#section4 {
  position: relative;
  height: 100vh;
  background-color: #FAC177;
}

#section5 {
  position: relative;
  height: 100vh;
  background-color: #093A82;
}

@media only screen and (min-device-width: 600px) {
  p {
    font-size: 2.5vh
  }

  h1 {
    font-size: 3vh;
  }

  h3 {
    font-size: 2.5vh;
    padding-top: 1vw;
  }

  h4 {
    padding-bottom: 1vw;
    font-size: 1.5vh;
  }

  .main {
    overflow: hidden;
  }

  /* Næste-side knap */
  .next {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;
    z-index: 9999;
  }

  .content {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }

  /* ----------------------BILLEDER------------------ */
  .logo {
    width: 25vw;
    position: absolute;
    right: 2vw;
    top: 1vh;
    max-height: 100%;
  }

  .gfk1 {
    width: 23vw;
    position: absolute;
    right: -2vw;
    bottom: -1.5vh;
  }

  .gfk2 {
    width: 23vw;
    position: absolute;
    left: -2vw;
    bottom: -1.5vh;
  }

  .gfk3 {
    width: 65vw;
    position: absolute;
    right: -15vw;
    bottom: -2.5vh;
  }

  .label {
    width: 40vh;
    position: absolute;
    left: -12vh;
    bottom: -15.5vh;
  }
}

@media only screen and (min-device-width: 1500px) {
  p {
    font-size: 2.5vh
  }

  h1 {
    font-size: 3vh;
    margin: 0;
    margin-bottom: 5vh;
    margin-top: -10vh;
  }

  h3 {
    font-size: 2.5vh;
    padding-top: 1vw;
  }

  h4 {
    font-size: 1.5vh;
    padding-bottom: 1vw;
  }

  .main {
    overflow: hidden;
  }

  /* Næste-side knap */
  .next {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;
    z-index: 9999;
  }

  .content {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  /* ----------------------BILLEDER------------------ */
  .logo {
    width: 15vw;
    position: absolute;
    right: 2vw;
    top: 1vh;
    max-height: 100%;
  }

  .gfk1 {
    width: 13vw;
    position: absolute;
    right: -2vw;
    bottom: -1.5vh;
  }

  .gfk2 {
    width: 13vw;
    position: absolute;
    left: -2vw;
    bottom: -1.5vh;
  }

  .gfk3 {
    width: 15vw;
    position: absolute;
    right: -4vw;
    bottom: -2.5vh;
  }

  .label {
    width: 40vh;
    position: absolute;
    left: -12vh;
    bottom: -15.5vh;
  }
}